{{ define "posts/index.tmpl" }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ .title }}</h1>
<p>Using posts/index.tmpl</p>
</body>
</html>
{{ end }}